@font-face {
    font-family: 'Roboto Lt';
    src: url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('AlteHaasGrotesk_Bold.woff2') format('woff2'),
        url('AlteHaasGrotesk_Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

